<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li {{if .bHome}}class="active"{{end}}><a href="/"><span class="glyphicon glyphicon-home"></span> 系统信息</a></li>
        <li class="parent {{if .bAdmin}}active{{end}}">
            <a href="/admin">
					<span class="glyphicon glyphicon-king"></span> 账号管理 <span data-toggle="collapse" href="#sub-item-admin" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
			</a>
            <ul class="children collapse {{if .bSubAdmin}}in{{end}}" id="sub-item-admin">
                <li {{if .bInfoAdmin}}class="active"{{end}}>
                    <a class="" href="/admin/info"><span class="glyphicon glyphicon-info-sign"></span> 账号详情</a>
                </li>
                <li {{if .bAddAdmin}}class="active"{{end}}>
                    <a class="" href="/admin/add"><span class="glyphicon glyphicon-plus-sign"></span> 添加账号</a>
                </li>
                <li {{if .bUpdateAdmin}}class="active"{{end}}>
                    <a class="" href="/admin/update"><span class="glyphicon glyphicon-wrench"></span> 更新账号</a>
                </li>
            </ul>
                <!--<a href="/admin"><span class="glyphicon glyphicon-dashboard"></span> 账号管理</a>-->
        </li>
        <li {{if .bCoin}}class="active"{{end}}><a href="/coin"><span class="glyphicon glyphicon-th"></span> 币种管理</a></li>
        <li {{if .bUser}}class="active"{{end}}><a href="/user"><span class="glyphicon glyphicon-user"></span> 用户管理</a></li>
        <li {{if .bRecharge}}class="active"{{end}}><a href="/recharge"><span class="glyphicon glyphicon-piggy-bank"></span> 充值管理</a></li>
        <li {{if .bWithdraw}}class="active"{{end}}><a href="/withdraw"><span class="glyphicon glyphicon-credit-card"></span> 提现管理</a></li>
        <li {{if .bCoinIn}}class="active"{{end}}><a href="/coinin"><span class="glyphicon glyphicon-download"></span> 充币管理</a></li>
        <li {{if .bCoinOut}}class="active"{{end}}><a href="/coinout"><span class="glyphicon glyphicon-upload"></span> 提币管理</a></li>
        <li role="presentation" class="divider"></li>
        <li class="parent ">
            <a href="#">
					<span class="glyphicon glyphicon-book"></span> 系统日志 <span data-toggle="collapse" href="#sub-item-log" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
			</a>
            <ul class="children collapse" id="sub-item-log">
                <li>
                    <a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 1
						</a>
                </li>
                <li>
                    <a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 2
						</a>
                </li>
                <li>
                    <a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 3
						</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="attribution">Powered by - <a target="_blank" href="https://github.com/CrystalDino/">Crystal Dino</a></div>
</div>
<!--/.sidebar-->