<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">
        <li {{if .bHome}}class="active"{{end}}><a href="/"><span class="glyphicon glyphicon-info-sign"></span> 系统信息</a></li>
        <li {{if .bAdmin}}class="active"{{end}}><a href="/admin"><span class="glyphicon glyphicon-dashboard"></span> 账号管理</a></li>
        <li {{if .bCoin}}class="active"{{end}}><a href="/coin"><span class="glyphicon glyphicon-th"></span> 币种管理</a></li>
        <li {{if .bUser}}class="active"{{end}}><a href="/user"><span class="glyphicon glyphicon-th"></span> 用户管理</a></li>
        <li {{if .bRecharge}}class="active"{{end}}><a href="/recharge"><span class="glyphicon glyphicon-list-alt"></span> 充值管理</a></li>
        <li {{if .bWithdraw}}class="active"{{end}}><a href="/withdraw"><span class="glyphicon glyphicon-list-alt"></span> 提现管理</a></li>
        <li {{if .bCoinIn}}class="active"{{end}}><a href="/coinin"><span class="glyphicon glyphicon-pencil"></span> 充币管理</a></li>
        <li {{if .bCoinOut}}class="active"{{end}}><a href="/coinout"><span class="glyphicon glyphicon-pencil"></span> 提币管理</a></li>
        <li role="presentation" class="divider"></li>
        <li class="parent ">
            <a href="#">
					<span class="glyphicon glyphicon-list"></span> 系统日志 <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 1
						</a>
                </li>
                <li>
                    <a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 2
						</a>
                </li>
                <li>
                    <a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 3
						</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="attribution">Powered by - <a target="_blank" href="https://github.com/CrystalDino/">Crystal Dino</a></div>
</div>
<!--/.sidebar-->