{{template "tpl/header.html" .}}

<body>
	{{template "tpl/nav.html" .}}
		
	{{template "tpl/sidebar.html" .}}
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		{{template "tpl/page-header.html" .}}				
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">账号管理</div>
					<div class="panel-body">
						<table data-toggle="table" data-url="/manage/category/data"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
						    <thead>
						    <tr>
						        <th data-field="Id" data-checkbox="true" >ID</th>
						        <th data-field="ArticleCount" data-sortable="true">Article Count</th>
						        <th data-field="Name"  data-sortable="true">Name</th>
						        <th data-field="CTime" data-sortable="true">Create Time</th>
								<th data-field="MTime" data-sortable="true">Update Time</th>
						    </tr>
						    </thead>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
	</div><!--/.main-->

	{{template "tpl/footer.html" .}}
</body>

</html>
